@import '../node_modules/bootstrap/dist/css/bootstrap.css';

button,
input,
.alert,
.well,
.panel {
  border-radius: 0 !important;
}

.page-body {
  position: absolute;
  height: 100%;
  width: 100%;
}